.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 100px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 60px;
  width: 100%;
  height: calc(100vh - 225px);
}

.constructor {
  overflow: hidden;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;
  width: 600px;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  list-style: none;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background-color: #2f2f37;
}

.list::-webkit-scrollbar-thumb {
  max-height: 292px;
  background-color: #8585ad;
}
